<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/splash1"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/splash1"
        android:supportsRtl="true"
        android:theme="@style/Theme.DACN"
        tools:targetApi="31">
        <activity android:name=".bottom_navigation"/>
        <activity android:name=".project_page"/>
        <activity android:name=".project_detail_page"/>
        <activity android:name=".project_detail_edit_page"/>
        <activity android:name=".nghiphep_page"/>
        <activity android:name=".contract_page"/>
        <activity android:name=".chamcong_page"/>
        <activity android:name=".employee_page"/>
        <activity android:name=".salary_page"/>
        <activity android:name=".salary_detail_page"/>
        <activity android:name=".setting_page"/>
        <activity android:name=".setting_language_page"/>
        <activity android:name=".setting_notification_page"/>
        <activity android:name=".salary_search_page"/>
        <activity android:name=".setting_font_page"/>
        <activity android:name=".setting_fontsize_page"/>
        <activity android:name=".forum_page"/>
        <activity android:name=".new_forum"/>
        <activity android:name=".notification_page"/>
        <activity android:name=".profile_page"/>
        <activity android:name=".profile_edited"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".forgot_pass"/>
        <activity android:name=".sign_in"/>
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>