<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DACN"
        tools:targetApi="31">
        <activity android:name=".project_page"/>
        <activity android:name=".project_detail_page"/>
        <activity android:name=".project_detail_edit_page"/>
        <activity android:name=".nghiphep_page"/>
        <activity android:name=".contract_page"/>
        <activity android:name=".chamcong_page"/>
        <activity android:name=".apartment_page"/>
        <activity android:name=".salary_page"/>
        <activity android:name=".forum_page"/>
        <activity android:name=".new_forum"/>
        <activity android:name=".notification_page"/>
        <activity android:name=".user_page"/>
        <activity android:name=".edit_profile"/>
        <activity android:name=".sign_in"/>
        <activity android:name=".forgot_pass"/>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>